<?xml version="1.0" encoding="UTF-8"?>
<widget version = "0.0.1">
 
    <name>TEST</name>
    
    <icon src="icon.png" />
    
    <gap:platform name="android" />
    
    <feature name="http://api.phonegap.com/1.0/notification"/>
    <feature name="http://api.phonegap.com/1.0/geolocation"/>
  
</widget>